*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Ubuntu", "Monaco", "Lucida Console";
    font-size:16px;
}
.page{
   width:90%;
   margin:auto;
}
.content{
    margin-top: 15px;
}

@font-face{
    font-family: "Ubuntu";
    src:url('/client/fonts/UbuntuCondensed-Regular.ttf');
}