<section>
    <h1>Book Trading</h1>
    <p class="welcome-title"></p>
    
    <article class="features">
        <ul>
            <li>
                <a href="javascript:void()">
                    Catalogue your book online
                </a>
            </li>
             <li>
                <a href="javascript:void()">
                    See all book online
                </a>
            </li>
             <li>
                <a href="javascript:void()">
                    Borrow other user's book
                </a>
            </li>
             <li>
                <a href="javascript:void()">
                    Manage books and request from dashboard
                </a>
            </li>
        </ul>
    </article>
</section>